// .contacts .container {
//   align-items: baseline;
//   display: flex;
// }

.join {
  display: block;
  text-align: center;

  //   margin-left: 70px;
  //     width: 206px;
  //     height: 80px;

  &__title {
    margin-bottom: 20px;

    color: var(--primary-background-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;

    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: center;

    gap: 10px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 44px;
    height: 44px;

    fill: var(--primary-background-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__links:hover,
  &__links:focus {
    background-color: var(--accent-color);
  }
}
