.skills {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__list {
    // display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  &__item {
    padding-top: 0;
    width: 450px;
  }

  &__icon {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70px;
    height: 70px;
  }

  &__icon--background {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;

    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

// .skills__list .skills__item + .skills__item {
//   margin-left: 30px;
// }
