.works {
  display: none;
  padding-top: 0;
  text-align: center;

  @media screen and(min-width:1200px) {
    display: flex;
  }

  &__title {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__item {
    position: relative;
  }

  &__block {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
  }

  &__text {
    color: var(--primary-background-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list &__item + &__item {
    margin-left: 30px;
  }
}
