body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
